<!DOCTYPE html>
<html>
<head>
	<title>Arun</title>
	<link rel="stylesheet" href="/home/neon/PROJECTS/Luminal/src/css/Home.css">
	<script src="https://kit.fontawesome.com/6a043764e1.js" crossorigin="anonymous"></script> 
</head>
<body>
<nav>
<div id="logo_section" class="nav_section">
	<a href="/">LOGO</a>
</div>
<div id="search_section" class="nav_section">
	<i class="fa-solid fa-magnifying-glass"></i>
	<a href="Shop">Shop</a>
</div>
<div id="cart_section" class="nav_section">
	<a href="Cart"><i class="fa-solid fa-cart-shopping"></i></a>
	<a href="Contact">Contact</a>
</div>
<div id="account_section" class="nav_section">
	<a href="Account"><i class="fa-regular fa-user"></i></a>
</div>
</nav>
<div>
</body>
</html>
