<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../css/Admin.css">
</head>
<body>
<div id="uploader">
<form id='uploadForm' enctype="multipart/form-data">
<input type="text" placeholder="type" id="type">
<input type="text" placeholder="price" id="price">
<input type="text" placeholder="colour" id="colour">
<input type="text" placeholder="age" id="age">
<input type="text" placeholder="collection" id="collection">
<input type="text" placeholder="priority" id="priority">
<input type="file" id="fileInput" accept="image/*" hidder>
<button type="submit">Submit</button>
</form>
</div>
<div id="preview"></div>
<script src="../js/Admin.js"></script>
</body>
</html>
