@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

:root {
  --navTop-color: #0b5e65;
  --navBottom-color: #0b5e65;
	--nav_background-color: rgba(36,36,35,1);
	--background-color: rgba(126,114,84,1);
	--highlight-color: rgba();
	--border-color: rgba(250,250,250,0.2)
}
html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  padding: 0px;
  margin: 0px;
  font-family: 'Sen', sans-serif;
  overflow-x: hidden;
}

nav{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#navTop-section {
  display: flex;
  background-color: var(--navTop-color);
  color: white;
}

#navBottom-section {
  display: flex;
  background-color: var(--navBottom-color);
  color: white;
}

#logo-section {
  margin: 0.6rem 0.5rem;
  flex-basis: calc(100%/2.5);
  justify-content: flex-start;
}

#shop-section, #contact-section, #setting-section {
  margin: 0.6rem 0.5rem;
  flex-grow: 1;
}

#search-text {
  border: none;
  height: 1rem;
  width: 15rem;
  background-color: var(--navBottom-color);
  border-bottom: 2px solid #3e3546;
  outline: none;
}

#search-section, #cart-section, #mag-section {
  margin: 0.5rem 0.5rem;
}

#cart-section {
  flex-basis: calc(100%/3);
  justify-content: flex-start;
}

#search-section, #mag-section {
  flex-grow: 1;
}

#mag-section {
  margin-right: 7%;
}

a {
  text-decoration: none;
  color: white;
}

#display-section > h2 {
	margin-top: 50px;
	border-bottom: 2px solid var(--nav_background-color);
	width: 95vw;
}

#cart-section {
	display: flex;
  flex-direction: column;
	gap: 5rem;
}

#order {
	margin-top: 30px;
}

#order > h2 {
	border-bottom: 2px solid var(--nav_background-color);
	width: 250px;
}

#order > button {
	width: 150px;
	height: 40px;
	font-size: 15px;
	background-color: var(--nav_background-color);
	color: white;
}

#order > button:hover {
	color: green;
}

/*.product-cart {*/
/*  display: grid;*/
/*  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
/*  grid-column-gap: 1px;*/
/*  border: 2px solid black;*/
/*}*/
.product-cart {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  /*border: 2px solid black;*/
  border-bottom: 2px solid black;
}

.product-image {
  object-fit: cover;
  height: 15vh;
  width: 20vw;
  border: 2px solid black;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.button-cart {
  text-decoration: none;
  border: none;
  background-color: white;
  height: 4rem
}
